main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    font-size: 36px;
    margin: 50px 0;
}

/* SECTION STEPS */
.steps-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.steps-list-item {
    display: flex;
    align-items: center;
    margin: 15px;
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 40px 80px 40px 30px;
    position: relative;
}

.steps-list-item
i {
    font-size: 143px;
    position: absolute;
    right: -53px;
    z-index: 1;
    color: rgba(22, 153, 211, 1);
}

.steps-list
h1 {
    margin-right: 20px;
    font-size: 110px;
}

.steps-list
h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.steps-list
p {
    font-size: 16px;
    color: grey;
}
/* SECTION STEPS END*/

.main-subtitle {
    font-size: 24px;
    margin: 50px 0;
}

/* SECTION REVIEWS */
.reviews{
    display: flex;
    align-items: center;
    width: 1172px;
    margin: auto;
}

.reviews-1,
.reviews-2 {
    display: flex;
    align-items: center;
    border: 1px solid rgba(220, 220, 220, 1);
    padding: 30px;
}

.reviews-1 {
    margin-right: 10px;
}

.reviews-2 {
    margin-left: 10px;
}

.reviews-1-text-title,
.reviews-2-text-title {
font-size: 16px;
margin-bottom: 30px;
}

.reviews 
img {
    margin-right: 30px;
}

.reviews
p {
    font-weight: lighter;
}
/* SECTION REVIEWS END*/

.orange-btn-btn {
    width: 540px;
    height: 60px;
    background-color: rgba(241, 101, 41, 1);
    border: none;
    margin: 100px 0;
}

.orange-btn-btn
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

/* SECTION ICONS */
.icons-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 50px;
}

.icons-list-item {
    margin-left: 15px;
    margin-right: 15px;
}
/* SECTION ICONS END*/


